@model Computer_Shop.Models.Order


<style>
    .font-size{
        font-size:24px;
        border:1.2px solid black;
    }
    .align{
        text-align:center;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderID)

    <div class="form-group" style="font-size:32px;padding-left:15px">
        Create Order Date
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.Create_Date, new { htmlAttributes = new { @class = "form-control font-size" } })
            @Html.ValidationMessageFor(model => model.Create_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="font-size:32px;padding-left:15px">
        Status
        <div class="form-group col-md-2">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control font-size align", @min = "1", @max = "4" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="font-size:24px;text-align:center" class="col-md-2">
        1 : Received the order
        <br />
        2 : Packing
        <br />
        3 : On delivery
        <br />
        4 : Arrived
    </div>

    <div class="form-group" style="font-size:32px;padding-left:15px">
        Shipping Address
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.Shipping_Address, new { htmlAttributes = new { @class = "form-control font-size" } })
            @Html.ValidationMessageFor(model => model.Shipping_Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="font-size:32px;padding-left:15px">
        Payment Method
        <div class="form-group col-md-2">
            @Html.EditorFor(model => model.Payment_Method, new { htmlAttributes = new { @class = "form-control font-size align", @min = "1", @max = "2" } })
            @Html.ValidationMessageFor(model => model.Payment_Method, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="font-size:24px;color:dodgerblue;text-align:center" class="col-md-3">
        1 : Credit Card <p></p>
        <img src="https://vtcgame.vn/images/ImgBank/logo_visa.png" />
        <img src="https://vtcgame.vn/images/ImgBank/logo_master.png" />
        <img src="https://vtcgame.vn/images/ImgBank/paypal.jpg" />
    </div>
    <br />
    <div style="font-size:24px;color:mediumpurple;text-align:center" class="col-md-3">
        2 : Cash on Delivery (COD)
    </div>
</div>
}

<br />

<div class="col-md-4">
     <input type="submit" value="Save" class="hvr-hover1" style="font-size:32px;background-color:black;color:white;border-radius:8px" />
    <a class="hvr-hover1" href="/Home/Order" style="font-size:32px;border:2px solid black;background-color:black;color:white;border-radius:8px">
        Back to View Order
    </a>
</div>

<br />

