@model Computer_Shop.Models.Account
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <strong style="font-size:60px">Change Password</strong>
    <style>
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("Password", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-4" style="font-size:30px">
                Current Password :
                <input class="form-control text-box single-line" id="CurrentPass" name="CurrentPass" type="password" value="">
            </div>

            <div class="form-group col-md-4" style="font-size:30px">
                New Password :
                <input class="form-control text-box single-line" id="NewPass" name="NewPass" type="password" value="">
            </div>

            <div class="form-group col-md-4" style="font-size:30px">
                Re-type new Password :
                <input class="form-control text-box single-line" id="RenewPass" name="RenewPass" type="password" value="">
            </div>


            <div class="form-group col-md-4">
                <div class="col-md-offset-2 col-md-10">
                        <input type="submit" style="background-color:forestgreen;color:white;font-size:20px" value="Change Password" class="btn btn-default" />     
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "My_Account")
    </div>
</body>
</html>