@model Computer_Shop.Models.AccountEmployee
@{
    ViewBag.Title = "ViewAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-md-12 {
        text-align: center
    }
</style>

@using (Html.BeginForm("ViewAccount", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4 style="font-size:45px;padding:15px;margin:0px;text-align:left">Account Infomation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserID)

    <strong class="form-group" style="font-size:35px">
        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="font-size:36px;font-family:'Times New Roman'">
            <input class="form-control text-box single-line" id="UserID" name="UserID" type="text" value="@Html.ValueFor(m=>m.UserID)" readonly style="font-size:24px">
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
        </div>
    </strong>
    <br />
    @*================= Change Username =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current Username :
            <input class="form-control text-box single-line" id="UserName" name="UserName" type="text" value="@Html.ValueFor(m=>m.UserName)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New Username :
            <input class="form-control text-box single-line" id="NewUserName" name="NewUserName" type="text" value="@Html.ValueFor(m=>m.UserName)">
        </div>
    </strong>

    <br />

    @*================= Change Fullname =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current Fullname :
            <input class="form-control text-box single-line" id="Fullname" name="Fullname" type="text" value="@Html.ValueFor(m=>m.FullName)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New Fullname :
            <input class="form-control text-box single-line" id="NewFullname" name="NewFullname" type="text" value="@Html.ValueFor(m=>m.FullName)">
        </div>
    </strong>
    <br />

    @*================= Change Email =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current Email :
            <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="@Html.ValueFor(m=>m.Email)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New Email :
            <input class="form-control text-box single-line" id="NewEmail" name="NewEmail" type="text" value="@Html.ValueFor(m=>m.Email)">
        </div>
    </strong>
    <br />

    @*================= Change Day of Birth =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current Day of Birth :
            <input class="form-control text-box single-line" id="Dob" name="DoB" type="text" value="@Html.ValueFor(m=>m.DoB)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New Day of Birth :
            <input class="form-control text-box single-line" id="NewDoB" name="NewDoB" type="text" value="@Html.ValueFor(m=>m.DoB)">
        </div>
    </strong>
    <br />

    @*================= Change Mobile =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current Mobile :
            <input class="form-control text-box single-line" id="Mobile" name="Mobile" type="text" value="@Html.ValueFor(m=>m.Mobile)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New Mobile :
            <input class="form-control text-box single-line" id="NewMobile" name="NewMobile" type="text" value="@Html.ValueFor(m=>m.Mobile)">
        </div>
    </strong>
    <br />

    @*================= Change City =============================*@
    <strong style="font-size:35px">
        <div class="form-group col-md-4">
            Current City :
            <input class="form-control text-box single-line" id="City" name="City" type="text" value="@Html.ValueFor(m=>m.City)" readonly
                   style="background-color:forestgreen;color:white;text-align:center;font-size:24px">
        </div>

        <div class="form-group col-md-4">
            *New City :
            <input class="form-control text-box single-line" id="NewCity" name="NewCity" type="text" value="@Html.ValueFor(m=>m.City)">
        </div>
    </strong>
    <br />



    <strong class="form-group" style="font-size:35px">
        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="font-size:36px;font-family:'Times New Roman'">
            <input class="form-control text-box single-line" id="Role" name="Role" type="text" value="@Session["role"]" readonly style="font-size:24px">
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>
    </strong>

    <br />
    <div class="form-group">
        <div class="col-md-4" style="font-size:20px;font-family:'Times New Roman'">
            <a href="/Home/Index">
                <input class="hvr-hover" type="button" id="sf_submit" value="Back">
            </a>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>
}

